ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #34495e;
}

.logo1 {
  margin: 0;
  font-size: 1em;
}
.logo1 a,
.main-nav a {
  padding: 10px 20px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.main-nav a {
  color: #34495e;
  font-size: 0.99em;
}

.active-page {
  color: #2b343d;
  font-weight: bold;
}

.header {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.spacing {
  padding-left: 10px;
}

@media (min-width: 769px) {
  .header,
  .main-nav {
    display: flex;
    justify-items: center;
  }
  .header {
    flex-direction: column;
    margin: 0 auto;
  }
}

@media (min-width: 1023px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}
