.btn {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin: auto;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;

  &:hover {
    cursor: pointer;
  }
}

.btn[disabled],
.btn[readonly] {
  opacity: 0.6;
  cursor: initial;
}

.primary {
  background-color: rgb(61, 86, 178);
  transition: ease-out 0.4s;
  color: white;

  &:hover {
    background-color: rgb(20, 39, 155);
    transition: ease-in 0.4s;
  }
}

.success {
  background-color: rgb(64, 99, 67);
  transition: ease-out 0.4s;
  color: white;
  &:hover {
    background-color: rgb(50, 80, 46);
    transition: ease-in 0.4s;
  }
}

.warning {
  background-color: rgb(247, 164, 64);
  transition: ease-out 0.4s;
  color: black;

  &:hover {
    background-color: rgb(225, 112, 26);
    transition: ease-in 0.4s;
  }
}

.danger {
  background-color: rgb(125, 25, 53);
  transition: ease-out 0.4s;
  color: white;
  &:hover {
    background-color: rgb(66, 5, 22);
    transition: ease-in 0.4s;
  }
}

.cont {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cont input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  border-radius: 5px;
  width: 25px;
  background-color: #eee;
}

.cont:hover input ~ .checkmark {
  background-color: #ccc;
}

.cont input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.cont input:checked ~ .checkmark:after {
  display: block;
}

.cont .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type="radio"] {
  width: 20px;
  height: 20px;
  background: gray;
}
.cont-radio {
  font-size: 1.1em;
}

select {
  word-wrap: normal;
  text-transform: none;
}
.form-select {
  outline-style: none;
  border-radius: 5px;
  border-style: none;
  padding: 10px;
  font-size: 1rem;
  margin-right: 10px;
  border: 3px solid rgb(170, 170, 170);
  transition: box-shadow 0.2s ease-in-out;
  max-width: 100%;
  width: 100%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-control {
  outline-style: none;
  border-radius: 5px;
  border-style: none;
  padding: 10px;
  font-size: 1rem;
  border: 3px solid rgb(170, 170, 170);
  transition: box-shadow 0.2s ease-in-out;
  max-width: 100%;
  display: block;
  width: calc(100% - (5%));
}

.form-control:read-only,
.form-control:disabled {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0);
  background-color: rgb(243, 241, 245);
  cursor: initial;
}

.alert {
  padding: 30px;
  font-size: 1em;
  font-weight: bold;
  border-radius: 10px;
}

.alert-danger {
  background-color: rgb(201, 72, 91);
  color: white;
  border: 3px solid rgb(99, 10, 16);
}

.alert-warning {
  background-color: rgb(223, 113, 27);
  color: white;
  border: 3px solid rgb(253, 228, 156);
}

.alert-success {
  background-color: rgb(64, 99, 67);
  color: white;
  border: 3px solid rgb(50, 80, 46);
}
