<div class="row">
  <div class="col-12">
    <div class="alert alert-warning curse">
      <div class="row flex-wrap">
        <div class="col-1 justify-center-flex">
          <i class="fal fa-exclamation-triangle fa-3x"></i>
        </div>
        <div class="col-11 justify-center-flex">
          <h4 id="label-error"><ng-content></ng-content></h4>
        </div>
      </div>
    </div>
  </div>
</div>
