<div class="content">
  <div class="row justify-center-flex">
    <h1>Form</h1>
  </div>
  <div class="row justify-center-flex">
    <div class="col-12">
      <form-user></form-user>
    </div>
  </div>
</div>
