<div class="content">
  <div class="row justify-center-flex">
    <div class="col-12">
      <card>
        <div class="container">
          <div class="row">
            <div class="col-12 justify-center-flex">
              <h1>Person Data</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <h3>
                <i class="fal fa-signature icon-field"></i>First Name:
                <span class="data-slice">{{ person.firstName }}</span>
              </h3>
            </div>
            <div class="col-6">
              <h3>
                <i class="fal fa-file-signature icon-field"></i>Last Name:
                <span class="data-slice">{{ person.lastName }}</span>
              </h3>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <h3>
                <i class="fal fa-envelope icon-field"></i>Email:
                <span class="data-slice">{{ person.email }}</span>
              </h3>
            </div>
            <div class="col-6">
              <h3>
                <i class="fal fa-phone-alt icon-field"></i>Telephone Number:
                <span class="data-slice">{{ person.telephoneNumber }}</span>
              </h3>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <h3>
                <i class="fal fa-calendar icon-field"></i>Birth Date:
                <span class="data-slice">{{
                  person.birthDate | date: "fullDate"
                }}</span>
              </h3>
            </div>
            <div class="col-6">
              <h3>
                <i class="fal fa-venus-mars icon-field"></i>Genre:
                <span class="data-slice">{{ person.genre }}</span>
              </h3>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <h2>Address</h2>
              <h3>
                <i class="fal fa-globe-americas icon-field"></i>Country:
                <span class="data-slice">{{ person.address.country }}</span>
              </h3>
              <h3>
                <i class="fal fa-map icon-field"></i>State:
                <span class="data-slice">{{
                  person.address.state ? person.address.state : "No state"
                }}</span>
              </h3>
            </div>
            <div class="col-6">
              <h3><i class="fal fa-link icon-field"></i>Personal Site URL:</h3>
              <ng-template [ngIf]="person.personalSite != ''">
                <a [href]="person.personalSite" target="_blank">{{
                  person.personalSite
                }}</a>
              </ng-template>
              <ng-template [ngIf]="person.personalSite == ''">
                <span class="data-slice">No URL</span>
              </ng-template>
              <h3><i class="fal fa-address-card icon-field"></i>About Me:</h3>
              <p>
                {{ person.aboutMe != "" ? person.aboutMe : "No description" }}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="container-control">
                <button
                  type="button"
                  class="btn success"
                  (click)="returnForm()"
                >
                  <i class="fal fa-check-circle"></i> Ok
                </button>
              </div>
            </div>
          </div>
        </div>
      </card>
    </div>
  </div>
</div>
