<div class="content">
  <div class="row">
    <div class="col-12 justify-center-flex">
      <img src="./assets/img/not-found.png" class="img-resource" />
    </div>
  </div>
  <div class="row">
    <div class="col-12 justify-center-flex">
      <h2>Page not found!</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 justify-center-flex">
      <button class="btn primary element" (click)="returnPage()">
        <i class="fal fa-undo"></i> Go Back
      </button>
    </div>
  </div>
</div>
