.card {
  position: static;
  max-width: 100%;
  background-color: #fbfbfb;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 5px 1px rgba($color: gray, $alpha: 0.1);
}
