.container {
  padding: 20px;
}
.container-control {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
label {
  padding-bottom: 15px;
}
.required-input {
  color: #931a25;
}
input[type="date"] {
  font-family: "Roboto";
}
textarea {
  font-family: "Roboto";
  height: 150px;
  resize: none;
}
.ng-valid[required],
.ng-valid.required,
.ng-valid.ng-dirty:not(form) {
  border: 3px solid #42a948;
}
.radio,
.checkbox {
  margin-top: 15px;
}
.form-control.ng-dirty.ng-touched.ng-invalid {
  border: 3px solid #a94442;
}
.form-select.ng-pristine.ng-invalid.ng-touched {
  border: 3px solid #a94442;
}
.form-control.ng-pristine.ng-invalid.ng-touched {
  border: 3px solid #a94442;
}
.icon-pass {
  margin-left: 10px;
  cursor: pointer;
}
.icon-field {
  margin-right: 10px;
}
.icon-radios {
  margin-left: 10px;
  margin-right: 5px;
}
@media screen and (min-width: 320px) {
  .form-control {
    width: 88%;
  }
}
@media screen and (min-width: 375px) {
  .form-control {
    width: 90%;
  }
}
@media screen and (min-width: 425px) {
  .form-control {
    width: 92%;
  }
}
@media screen and (min-width: 768px) {
  .form-control {
    width: 96%;
  }
}
@media screen and (min-width: 1024px) {
  .form-control {
    width: 95%;
  }
}
@media screen and (min-width: 1024px) {
  .option-control {
    width: 97%;
  }
}
