<card>
  <div class="container">
    <form [formGroup]="formPerson" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12 justify-center-flex">
          <h3>
            The required fields contain (<span class="required-input">*</span>)
            an asterisk
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="container-control">
            <label for="firstName"
              ><i class="fal fa-signature icon-field"></i>Name<span
                class="required-input"
                >*</span
              ></label
            >
            <input
              type="text"
              placeholder="Example. Josh"
              class="form-control"
              aria-label="firstName"
              name="firstName"
              formControlName="firstName"
              id="firstName"
              autocomplete="off"
              autofocus
              maxlength="15"
            />
            <ng-template [ngIf]="isFieldValid('firstName')">
              <input-error-messages
                *ngIf="nameField('firstName')?.errors?.required"
                >First name is required</input-error-messages
              >
              <input-error-messages
                *ngIf="nameField('firstName')?.errors?.minlength"
                >First name must be at least 4 characters</input-error-messages
              >
              <input-error-messages
                *ngIf="nameField('firstName')?.errors?.maxlength"
                >First name must be a maximum of 15
                characters</input-error-messages
              >
              <input-error-messages
                *ngIf="nameField('firstName')?.errors?.pattern"
                >First name must have leading spaces, not numbers and only
                letters</input-error-messages
              >
            </ng-template>
            <ng-template [ngIf]="fieldValid('firstName')">
              <input-success-messages
                >First name is valid!</input-success-messages
              >
            </ng-template>
          </div>
        </div>
        <div class="col-6">
          <div class="container-control">
            <label for="lastName"
              ><i class="fal fa-file-signature icon-field"></i>Last Name<span
                class="required-input"
                >*</span
              >
            </label>
            <input
              type="text"
              placeholder="Example. Maxium"
              class="form-control"
              aria-label="lastName"
              name="lastName"
              formControlName="lastName"
              id="lastName"
              autocomplete="off"
              maxlength="15"
            />
            <ng-template [ngIf]="isFieldValid('lastName')">
              <input-error-messages
                *ngIf="nameField('lastName')?.errors?.required"
                >Last name is required</input-error-messages
              >
              <input-error-messages
                *ngIf="nameField('lastName')?.errors?.minlength"
                >Last name must be at least 4 characters</input-error-messages
              >
              <input-error-messages
                *ngIf="nameField('lastName')?.errors?.maxlength"
                >Last name must be a maximum of 15
                characters</input-error-messages
              >
              <input-error-messages
                *ngIf="nameField('lastName')?.errors?.pattern"
                >Last name must have leading spaces, not numbers and only
                letters</input-error-messages
              >
            </ng-template>
            <ng-template [ngIf]="fieldValid('lastName')">
              <input-success-messages
                >Last name is valid!</input-success-messages
              >
            </ng-template>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="container-control">
            <label for="email"
              ><i class="fal fa-envelope icon-field"></i>Email<span
                class="required-input"
                >*</span
              ></label
            >
            <input
              type="email"
              placeholder="Example. josh34@gmail.com"
              class="form-control"
              aria-label="email"
              name="email"
              formControlName="email"
              id="email"
              autocomplete="off"
            />
            <ng-template [ngIf]="isFieldValid('email')">
              <input-error-messages *ngIf="nameField('email')?.errors?.required"
                >Email is required</input-error-messages
              >
              <input-error-messages *ngIf="nameField('email')?.errors?.email"
                >Email must comply with the following format example@test.com
                and without spaces</input-error-messages
              >
            </ng-template>
            <ng-template [ngIf]="fieldValid('email')">
              <input-success-messages>Email is valid!</input-success-messages>
            </ng-template>
          </div>
        </div>
        <div class="col-6">
          <div class="container-control">
            <label for="telephoneNumber"
              ><i class="fal fa-phone-alt icon-field"></i>Telephone Number<span
                class="required-input"
                >*</span
              ></label
            >
            <input
              type="tel"
              class="form-control"
              aria-label="telephoneNumber"
              name="telephoneNumber"
              placeholder="Examples. 7845-7586, 6321-5435 or 2334-5451"
              formControlName="telephoneNumber"
              id="telephoneNumber"
              autocomplete="off"
              pattern="^[6-7,2][0-9][0-9][0-9]-[0-9][0-9][0-9][0-9]$"
            />
            <ng-template [ngIf]="isFieldValid('telephoneNumber')">
              <input-error-messages
                *ngIf="nameField('telephoneNumber')?.errors?.required"
                >Telephone Number is required</input-error-messages
              >
              <input-error-messages
                *ngIf="nameField('telephoneNumber')?.errors?.pattern"
                >Telephone Number must comply with the following format
                6000-000, 7000-0000 or 2000-0000 and without
                spaces</input-error-messages
              >
            </ng-template>
            <ng-template [ngIf]="fieldValid('telephoneNumber')">
              <input-success-messages
                >Telephone Number is valid!</input-success-messages
              >
            </ng-template>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="container-control">
            <label for="password"
              ><i class="fal fa-lock icon-field"></i>Password<span
                class="required-input"
                >*</span
              >
              <i
                class="far icon-pass"
                [ngClass]="viewPassword == true ? 'fa-eye' : 'fa-eye-slash'"
                (click)="
                  viewPassword == true
                    ? (viewPassword = false)
                    : (viewPassword = true)
                "
              ></i
            ></label>
            <input
              [type]="viewPassword == true ? 'text' : 'password'"
              class="form-control"
              aria-label="password"
              name="password"
              formControlName="password"
              id="password"
              autocomplete="off"
              maxlength="15"
            />
            <ng-template [ngIf]="isFieldValid('password')">
              <input-error-messages
                *ngIf="nameField('password')?.errors?.required"
                >Password is required</input-error-messages
              >
              <input-error-messages
                *ngIf="nameField('password')?.errors?.minlength"
                >Password must be at least 8 characters</input-error-messages
              >
              <input-error-messages
                *ngIf="nameField('password')?.errors?.minlength"
                >Password must be a maximum of 15
                characters</input-error-messages
              >
              <input-error-messages
                *ngIf="nameField('password')?.errors?.pattern"
                >Password at least one uppercase letter, one lowercase letter,
                one number, one special character and without
                spaces</input-error-messages
              >
            </ng-template>
            <ng-template [ngIf]="fieldValid('password')">
              <input-success-messages
                >Password is valid!</input-success-messages
              >
            </ng-template>
          </div>
        </div>
        <div class="col-6">
          <div class="container-control">
            <label for="confirmPassword"
              ><i class="fal fa-lock icon-field"></i>Confirm Password<span
                class="required-input"
                >*</span
              >
              <i
                class="far icon-pass"
                [ngClass]="viewConfirmPass == true ? 'fa-eye' : 'fa-eye-slash'"
                (click)="
                  viewConfirmPass == true
                    ? (viewConfirmPass = false)
                    : (viewConfirmPass = true)
                "
              ></i
            ></label>
            <input
              [type]="viewConfirmPass == true ? 'text' : 'password'"
              class="form-control"
              aria-label="confirmPassword"
              name="confirmPassword"
              formControlName="confirmPassword"
              id="confirmPassword"
              autocomplete="off"
              maxlength="15"
            />
            <ng-template [ngIf]="isFieldValid('confirmPassword')">
              <input-error-messages
                *ngIf="nameField('confirmPassword')?.errors?.required"
                >Confirm password is required</input-error-messages
              >
              <input-error-messages
                *ngIf="nameField('confirmPassword')?.errors?.minlength"
                >Confirm password must be at least 8
                characters</input-error-messages
              >
              <input-error-messages
                *ngIf="nameField('confirmPassword')?.errors?.minlength"
                >Confirm password must be a maximum of 15
                characters</input-error-messages
              >
              <input-warning-messages
                *ngIf="
                  nameField('confirmPassword')?.value !=
                  nameField('password')?.value
                "
                >Passwords do not match</input-warning-messages
              >
            </ng-template>
            <ng-template
              [ngIf]="
                fieldValid('confirmPassword') &&
                nameField('confirmPassword')?.value ==
                  nameField('password')?.value
              "
            >
              <input-success-messages
                >Confirm password is valid!</input-success-messages
              >
            </ng-template>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="container-control">
            <label for="birthDate"
              ><i class="fal fa-calendar icon-field"></i>Birth Date<span
                class="required-input"
                >*</span
              ></label
            >
            <input
              type="date"
              class="form-control"
              aria-label="birthDate"
              name="birthDate"
              formControlName="birthDate"
              id="birthDate"
              autocomplete="off"
              required
              min="1950-03-01"
              [max]="yesterdayDate"
            />
            <ng-template [ngIf]="isFieldValid('birthDate')">
              <input-error-messages
                *ngIf="nameField('birthDate')?.errors?.required"
                >Birth Date is required</input-error-messages
              >
              <input-warning-messages
                *ngIf="nameField('birthDate')?.errors?.validDate"
                >Birth Date has to be less than the current
                one</input-warning-messages
              >
            </ng-template>
            <ng-template [ngIf]="fieldValid('birthDate')">
              <input-success-messages
                >Birth Date is valid!</input-success-messages
              >
            </ng-template>
          </div>
        </div>
        <div class="col-6">
          <div class="container-control">
            <label for="genre"
              ><i class="fal fa-venus-mars icon-field"></i>Genre<span
                class="required-input"
                >*</span
              ></label
            >
            <div class="radio">
              <label class="cont-radio">
                <input
                  type="radio"
                  name="genre"
                  formControlName="genre"
                  value="Male"
                />
                <i class="fal fa-mars icon-radios"></i>Male
              </label>
              <label class="cont-radio">
                <input
                  type="radio"
                  name="genre"
                  formControlName="genre"
                  value="Female"
                />
                <i class="fal fa-venus icon-radios"></i>Female
              </label>
              <ng-template [ngIf]="isFieldValid('genre')">
                <input-error-messages
                  *ngIf="nameField('genre')?.errors?.required"
                  >Genre is required</input-error-messages
                >
              </ng-template>
              <ng-template [ngIf]="fieldValid('genre')">
                <input-success-messages>Genre is valid!</input-success-messages>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 justify-center-flex">
          <h3>Address</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="container-control">
            <label for="country"
              ><i class="fal fa-globe-americas icon-field"></i>Country<span
                class="required-input"
                >*</span
              ></label
            >
            <select
              name="country"
              id="country"
              class="form-select"
              formControlName="country"
              (change)="onChangeCountry()"
            >
              <ng-template
                [ngIf]="countries.length > 0"
                *ngFor="let country of countries"
              >
                <option [ngValue]="country">{{ country.name }}</option>
              </ng-template>
            </select>
            <ng-template [ngIf]="isFieldValid('country')">
              <input-error-messages
                *ngIf="nameField('country')?.errors?.required"
                >Country is required</input-error-messages
              >
            </ng-template>
            <ng-template [ngIf]="fieldValid('country')">
              <input-success-messages>Country is valid!</input-success-messages>
            </ng-template>
          </div>
        </div>
        <div class="col-6">
          <div class="container-control" [hidden]="subStates.length == 0">
            <label for="state"
              ><i class="fal fa-map icon-field"></i>State<span
                class="required-input"
                >*</span
              ></label
            >
            <select
              name="state"
              id="state"
              formControlName="state"
              class="form-select"
              [required]="subStates.length > 0 ? true : false"
            >
              <ng-template
                [ngIf]="subStates.length > 0"
                *ngFor="let state of subStates"
              >
                <option [ngValue]="state">{{ state.name }}</option>
              </ng-template>
            </select>
            <ng-template [ngIf]="isFieldValid('state')">
              <input-error-messages *ngIf="nameField('state')?.errors?.required"
                >State is required</input-error-messages
              >
            </ng-template>
            <ng-template [ngIf]="fieldValid('state')">
              <input-success-messages>State is valid!</input-success-messages>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="container-control">
            <label for="personalSite"
              ><i class="fal fa-link icon-field"></i>Personal Site URL</label
            >
            <input
              type="url"
              class="form-control option-control"
              aria-label="personalSite"
              name="personalSite"
              placeholder="Example. http://www.google.com"
              formControlName="personalSite"
              id="personalSite"
              autocomplete="off"
            />
            <ng-template [ngIf]="isFieldValid('personalSite')">
              <input-error-messages
                *ngIf="nameField('personalSite')?.errors?.pattern"
                >The URL must comply with the following format www.test.com or
                http://www.test.com and without spaces</input-error-messages
              >
            </ng-template>
            <ng-template [ngIf]="fieldValid('personalSite')">
              <input-success-messages
                >Personal Site URL is valid and option
                field!</input-success-messages
              >
            </ng-template>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="container-control">
            <label for="aboutMe"
              ><i class="fal fa-address-card icon-field"></i>About Me</label
            >
            <textarea
              class="form-control option-control"
              aria-label="aboutMe"
              name="aboutMe"
              placeholder="Say something..."
              formControlName="aboutMe"
              id="aboutMe"
              autocomplete="off"
              maxlength="250"
            ></textarea>
            <ng-template [ngIf]="isFieldValid('aboutMe')">
              <input-error-messages
                *ngIf="nameField('aboutMe')?.errors?.maxlength"
                >About Me must be a maximum of 250
                characters</input-error-messages
              >
            </ng-template>
            <ng-template [ngIf]="fieldValid('aboutMe')">
              <input-success-messages
                >About Me is valid and option field!</input-success-messages
              >
            </ng-template>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="container-control">
            <label for="genre"
              ><i class="fal fa-ballot-check icon-field"></i>Conditions and
              Politics<span class="required-input">*</span></label
            >
            <div class="checkbox">
              <label class="cont"
                >I Agree
                <input
                  type="checkbox"
                  name="isAgree"
                  formControlName="isAgree"
                  value="Male"
                />
                <span class="checkmark"></span>
              </label>
            </div>
            <ng-template [ngIf]="isFieldValid('isAgree')">
              <input-error-messages
                *ngIf="nameField('isAgree')?.errors?.required"
                >Conditions and politics is required</input-error-messages
              >
            </ng-template>
            <ng-template [ngIf]="fieldValid('isAgree')">
              <input-success-messages
                >Conditions and politics is accepted!</input-success-messages
              >
            </ng-template>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="container-control">
            <button
              type="submit"
              class="btn primary"
              [disabled]="!formPerson.valid"
            >
              <i class="fal fa-paper-plane"></i> Accept
            </button>
          </div>
        </div>
      </div>
    </form>
    <ng-template [ngIf]="showAlert">
      <warning-alert (click)="closeAlert()">{{ errorMessage }}</warning-alert>
    </ng-template>
  </div>
</card>
